body {
    font-family: 'clockicons', Arial, cursive, sans-serif;
    margin: 0;
    height: 100vh;
    background-color:  rgb(45 45 45);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    margin-top: 3em;
}

#contador {
    color: #ff9500;
    font-size: 80px;
}

.botones {
    margin: 16px 0;
    display: flex;
    gap: 12px;
}

.botones button {
    font-size: 50px;
    padding: 1rem;
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: aliceblue;
    transition: scale 0.2s ease;
}

#btn-r {
    background-color: blueviolet;
}

#btn-r:hover, #btn-i:hover {
    cursor: pointer;
    scale: 1.1;
}

table {
    color: #ff9500;
    font-size: 21px;
    text-align: center;
}

thead {
    font-family: 'OpenSans', cursive, sans-serif;
}

thead th {
    padding: 1rem;
    padding-top: 0.5rem;
}

.Vueltas {
    padding-right: 30px;
}

.Tiempo {
    padding-left: 30px;
}